*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: calc(16/1440*100vw);
}

.card-info{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: calc(1100/1440*100vw);
    padding: 5rem calc(150/1440*100vw);
}

.card-info__title{
    font-size: calc(50/1440*100vw);
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 0.4em;
}

.card-info__title-name{
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 6.25rem;
}

.card-info__title-name span{
    color: #909090;
}

.card-info__image{
    position: absolute;
    width: calc(540/1440*100vw);
    height: calc(730/1440*100vw);
    object-fit: contain;
}

.card-info__wrapper{
    position: relative;
    left: 52%;
    width: 48%;
    min-height: calc(730/1440*100vw);
    padding-top: 2em;
}

.card-info-wrapper__price{
    font-size: calc(40/1440*100vw);
    line-height: 110%;
    letter-spacing: 0.02em;
    font-weight: bold;
    color: #998E78;
    margin-bottom: 1.2em;
    margin-left: 0.5em;
}

.card-info-wrapper__description-title{
    font-size: calc(26/1440*100vw);
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 0.5em; 
}

.card-info-wrapper__description{
    line-height: 160%;
    letter-spacing: 0.02em;
}

.card-info-wrapper__batton{
    display: flex;
    margin-top: 180px;
}







