.batton-item{
    outline: none;
    background-color: #ffffff;
    font-size: calc(20/1440*100vw);
    width: 12em;
    height: 2.5em;
    border: 0.06rem solid #000000;
    background-color: #6E9C9F;

    
}